.modal {
	position: fixed;
	right: 0;
	top: 0;
}
.modal-header,
.btn-custom {
	background: #1ABC9C;
	color: #FFF;
}
.modal-body {
	background: #73BFC1;
}
.popover   {
	background-color: #e74c3c;
	color: #ecf0f1;
	width: 120px;
}
.popover.right .arrow:after {
	border-right-color: #e74c3c;
}
.input-group[class*="col-"] {
    padding-right: 15px;
    padding-left: 15px;
}
